body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.header {
    display:flex;
    height:100px;
    width:auto;
    background-color:#1f2937;
    flex:0;
    justify-content:space-between;
}

.logo {
    font-size:24px;
    color:#f9faf8
}

.link-group {
    display:flex;
}

.header-link {
    font-size:18px;
    color:#e5e7eb;
}

.segment {
    display:flex;
    flex:1;
}

.hero {
    background-color:#1f2937;
}

.pictures {
    background-color:white;
}f

.quote {
    background-color:#e5e7eb
}

.action-call {
    background-color:white;
}

.footer {
    display:flex;
    height:50px;
    width:auto;
    flex:0;
}