body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    justify-content:space-between;
}

.header {
    display:flex;
    height:75px;
    background:#1f2937;
    flex-shrink:0;
    justify-content:space-between;
    align-items:center;
    padding-left:300px;
    padding-right:300px;
}

.logo {
    font-size:24px;
    color:#f9faf8
}

.link-group {
    display:flex;
    gap:15px;
    padding-right:15px;
}

.header-link {
    font-size:18px;
    color:#e5e7eb;

}

.segment {
    display:flex;
    flex:1;
    padding-left:300px;
    padding-right:300px;
}

.hero {
    background:red;
}

.pictures {
    background:white;
}

.quote {
    background:#e5e7eb
}

.action-call {
    background:white;
}

.footer {
    display:flex;
    height:50px;
    width:auto;
    flex-shrink:0;
    padding-left:300px;
    padding-right:300px;
}