body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    justify-content:space-between;
}

.header {
    display:flex;
    height:75px;
    background:#1f2937;
    flex-shrink:0;
    justify-content:space-between;
    align-items:center;
    padding-left:150px;
    padding-right:150px;
}

.logo {
    font-size:24px;
    color:#f9faf8
}

.link-group {
    display:flex;
    gap:15px;
    padding-right:15px;
}

.header-link {
    font-size:18px;
    color:#e5e7eb;
}

.segment {
    display:flex;
    flex:1;
    padding-left:150px;
    padding-right:150px;
}

.hero {
    background:#1f2937;
    justify-content:space-between;
    align-items:center;
    gap:30px;
}

.hero-left {
    display:flex;
    flex-direction:column;
    flex:1;
}

.hero-text {
    font-size:48px;
    font-weight:900;
    color:#f9faf8;
}

.hero-subtext {
    font-size:18px;
    color:#e5e7eb;
}

.hero-right {
    display:flex;
    flex:1;
}

.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pictures {
    background:white;
}

.quote {
    background:#e5e7eb
}

.action-call {
    background:white;
}

.footer {
    display:flex;
    height:50px;
    width:auto;
    flex-shrink:0;
    padding-left:150px;
    padding-right:150px;
    background:#1f2937;
}